body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.marker{
  height: 24px;
  width: 24px;
  transform: translate(-50%, -100%);
}

.error{
  color: #f05305;
}

.marker.red{
  fill: #f05305;
}

.marker.yellow{
  fill: #F3B73E;
}

body .mapboxgl-popup-content{
  background-color: transparent;
  padding: 0;
}

body .mapboxgl-popup-close-button{
  color: white;
  font-size: 25px;
  outline: none;
  background-color: #00000063;
  border-radius: 50%;
  height: 20px;
  width: 32px;
  padding: 0;
  padding-bottom: 13px;
  box-sizing: content-box;
  margin: 5px;
  border: 2px solid rgba(0, 0, 0, 0.38823529411764707);
}

.popup{
  max-width: 40vw;
}

.popup img{
  object-fit: cover;
  height: 180px;
  width: 100%;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  display: block;
}

.popup .body{
  padding: 1rem;
  border-bottom-left-radius: calc(.25rem - 1px);
  border-bottom-right-radius: calc(.25rem - 1px);
  background-color: white;
}

h3{margin-top: 0;}

.entry-form label,
.entry-form input,
.entry-form textarea,
.entry-form button{
  margin: 0.5rem 0;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
}